/.ipynb_checkpoints
/__pycache__

test/*
jupyter.log
test*/
data/*

*.csv

test/test*/*
software/*
joblogs/*
ray.log
install.log

incomplete*.dat
megasaurus*.csv
minisaurus*.csv
tmp_*.csv

**/.DS_Store
.vscode/*
__pycache__/
src/__pycache__/*